@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.wlg-dialog-root {
  .wlg-dialog-wrap {
    z-index: 99;
  }
}

body {
  background-color: #111417;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #0e1116;
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #353a45;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
